<div
  id="coffeeModal"
  class="coffee-overlay"
  hidden
  aria-hidden="true"
  role="dialog"
  aria-modal="true"
  aria-labelledby="coffeeModalLabel"
>
  <div class="coffee-dialog" role="document">
    <div class="coffee-panel">
      <div class="coffee-panel-header">
        <h5 class="coffee-panel-title" id="coffeeModalLabel">
          <i class="fas fa-mug-hot" aria-hidden="true"></i>
          Buy Me a Coffee
        </h5>
        <button
          type="button"
          class="coffee-close"
          data-coffee-close
          aria-label="关闭"
        >
          &times;
        </button>
      </div>
      <div class="coffee-panel-body">
        <img
          class="coffee-qr"
          src="{{ '/assets/img/wechat-pay.png' | relative_url }}"
          width="280"
          height="280"
          alt="微信收款码"
        >
        <p class="coffee-tip">微信扫码，请我喝杯咖啡</p>
      </div>
    </div>
  </div>
</div>
